In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2015  = pd.read_csv('ma_2015-pages-deleted.csv')

In [3]:
df_2015['Key'].values

array(['C', 'C', 'B', 'B', 'A', 'B', 'A', 'C', 'B', 'A', 'B', 'D', 'D',
       'A', 'A', 'C', 'D', 'C', 'D', 'D', 'B', 'B', 'A', 'B', 'A', 'C',
       'D', 'A', 'D', 'D'], dtype=object)

In [4]:
df_2015['Key.1'] = df_2015['Key.1'].str.replace(';',',')
df_2015['Key.1'] = df_2015['Key.1'].str.strip()

In [5]:
df_2015.loc[:9, 'Key.1'].values

array(['A,C,D', 'A,D', 'C,D', 'A,B', 'A,C,D', 'A,C', 'A,D', 'B,C',
       'B,C,D', 'A,B,C'], dtype=object)

In [6]:
df_2015.loc[:19, 'Range'].astype(str).values

array(['1.0', '6.28', '3.0', '-1.0', '2.34', '1.64', '1.0', '-1.0', '2.0',
       '3.0', '8.0', '84.0', '0.25', '2.0', '0.125', '1.41', '0.1',
       '5.09', '3.0', '2.0'], dtype=object)

In [7]:
df_2016 = pd.read_csv('ma_2016_final.csv')

In [8]:
df_2016

,Qn. No.,Qn. Type,Key(s),Mark(s),Unnamed: 4,Qn. No..1,Qn. Type.1,Key(s).1,Mark(s).1,Unnamed: 9,Qn. No..2,Unnamed: 11,Unnamed: 12,Qn. Type.2,Key(s).2,Mark(s).2,Unnamed: 16,Unnamed: 17
0,1,Q MC,D,NaN,NaN,NaN,1.0,Q,A;C,31.0,2.0,41 MS,NaN,NAT,0.5:0.5,1.0,NaN,NaN
1,2,Q MC,B,NaN,NaN,NaN,1.0,Q,A;D,32.0,2.0,42,MS,NAT,1.0:1.0,1.0,NaN,NaN
2,3,Q MC,A,NaN,NaN,NaN,1.0,Q,B;D,33.0,2.0,43 MS,NaN,NAT,2.0:2.0,1.0,NaN,NaN
3,4,Q MC,B,NaN,NaN,NaN,1.0,Q,B;C;D,34.0,2.0,44,MS,NAT,8.0:8.0,1.0,NaN,NaN
4,5,Q MC,A,NaN,NaN,NaN,1.0,Q,C;D,35.0,2.0,45 MS,NaN,NAT,1.49:1.55,1.0,NaN,NaN
5,6,Q MC,B,NaN,NaN,NaN,1.0,Q,A;B,36.0,2.0,46 MS,NaN,NAT,‐1:‐1,1.0,NaN,NaN
6,7,Q MC,C,NaN,NaN,NaN,1.0,Q,A;D,37.0,2.0,47,MS,NAT,6.0:6.0,1.0,NaN,NaN
7,8,Q MC,D,NaN,NaN,NaN,1.0,Q,B;C,38.0,2.0,48 MS,NaN,NAT,0.5:0.5,1.0,NaN,NaN
8,9,Q MC,C,NaN,NaN,NaN,1.0,Q,A;C;D,39.0,2.0,49,MS,NAT,0.25:0.25,1.0,NaN,NaN
9,10,MCQ,C,NaN,NaN,NaN,1.0,Q,B;D,40.0,2.0,50,MS,NAT,6.0:6.0,1.0,NaN,NaN
10,11,MCQ,B,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,NAT,1.0:1.0,2.0,NaN,NaN
11,12,MCQ,D,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,NaN,NAT,0.35:0.4,2.0,NaN,NaN
12,13,MCQ,B,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN,NAT,3.0:3.0,2.0,NaN,NaN
13,14,MCQ,C,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,NaN,NAT,0.8:1.9,2.0,NaN,NaN
14,15,MCQ,D,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NAT,72.0:72.0,2.0,NaN,NaN
15,16,MCQ,A,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,‐0.3:‐0.25,56.0,2.0,NAT
16,17,MCQ,B,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NAT,2.0:2.0,2.0,NaN,NaN
17,18,MCQ,D,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NAT,3.0:3.0,2.0,NaN,NaN
18,19,MCQ,A,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,NAT,1.0:1.0,2.0,NaN,NaN
19,20,MCQ,MTA,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN,NAT,2.0:2.0,2.0,NaN,NaN
20,21,MCQ,B,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,MCQ,C,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,MCQ,C,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,MCQ,C,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,MCQ,A,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,MCQ,A,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,MCQ,C,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,MCQ,D,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,MCQ,B,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,MCQ,MTA,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
type_list = []
for i in range(30):
    type_list.append('MCQ')
for ii in range(10):
    type_list.append('MSQ')
for iii in range(20):
    type_list.append('NAT')

In [10]:
df = pd.DataFrame({
    'No':range(1,61),
    'type':type_list
})

In [11]:
df['marks'] = 1

In [12]:
df.loc[50:]

    No type  marks
50  51  NAT      1
51  52  NAT      1
52  53  NAT      1
53  54  NAT      1
54  55  NAT      1
55  56  NAT      1
56  57  NAT      1
57  58  NAT      1
58  59  NAT      1
59  60  NAT      1

In [13]:
def automate_keys(year,df_year,mcq_key,msq_key,range_key):
    df[year] =np.zeros(60)
    
    df_year[msq_key] = df_year[msq_key].str.replace(';',',')
    
    df.loc[:29, year] = df_year[mcq_key].values
    df.loc[30:39, year] = df_year.loc[:9, msq_key].values
    df.loc[40:, year] = df_year.loc[:19, range_key].str.split(':',expand=True)[0].values
    
    df[year] = df[year].str.strip()

In [14]:
df.loc[10:39, 'marks'] = 2
df.loc[50:, 'marks'] = 2
df['2015'] =np.zeros(60)

In [15]:
df.loc[:29, '2015'] = df_2015['Key'].values
df.loc[30:39, '2015'] = df_2015.loc[:9, 'Key.1'].values
df.loc[40:, '2015'] = df_2015.loc[:19, 'Range'].astype(str).values

In [18]:
automate_keys(2016,df_2016,'Key(s)','Mark(s).1','Key(s).2')

In [20]:
df_2017 = pd.read_csv('2017_final.csv')

In [22]:
df['2017'] =np.zeros(60)
    
df_2017['KEYS'] = df_2017['KEYS'].str.replace(';',',')

In [23]:
df.loc[:14, '2017'] = df_2017['KEY'].values
df.loc[15:29, '2017'] = df_2017['KEY1'].values

df.loc[30:39, '2017'] = df_2017.loc[:9, 'KEYS'].values

In [25]:
df.loc[40:54, '2017'] = df_2017['KEY_RANGE'].str.split('–',expand=True)[0].values
df.loc[55:, '2017'] = df_2017['KEY_RANGE '].str.split('–',expand=True)[0].dropna().values

In [26]:
df['2017'] = df['2017'].str.strip()

In [87]:
df_2018 = pd.read_csv('2018_test.csv')
df_2019 = pd.read_csv('2019_test.csv')
df_2020 = pd.read_csv('2020_final.csv')
df_2020.loc[4, 'Key'] = 'MTA'

In [91]:
df_2018['key'] = df_2018['key'].str.strip()
df_2019['KEYS3'] = df_2019['KEYS3'].str.strip()
df_2020['Key'] = df_2020['Key'].str.strip()

In [92]:
df_2018['key'] = df_2018['key'].str.split('to', expand=True)[0]
df_2019['KEY RANGE1'] = df_2019['KEY RANGE1'].str.split('TO', expand=True)[0]
df_2020['Key'] = df_2020['Key'].str.split('to', expand=True)[0]

In [93]:
df_2020['Key'] = df_2020['Key'].str.replace(';',',')

In [94]:
df['2018'] = df_2018['key']
df['2020'] = df_2020['Key']

In [99]:
df['2017'] = df['2017'].str.replace(' ','')

In [47]:
df['2019'] =np.zeros(60)

In [48]:
df.loc[:14, '2019'] = df_2019['KEY1'].values
df.loc[15:29, '2019'] = df_2019['KEY2'].values
df.loc[30:39, '2019'] = df_2019.loc[:9, 'KEYS3'].values

In [54]:
df.loc[40:54, '2019'] = df_2019['KEY RANGE1'].str.split('to',expand=True)[0].values
df.loc[55:, '2019'] = df_2019['KEY RANGE2 '].str.split('TO',expand=True)[0].dropna().values

In [100]:
df

    No type  marks   2015   2016    2017    2018     2019   2020
0    1  MCQ      1      C      D       D       B       D       C
1    2  MCQ      1      C      B       A       D       D       D
2    3  MCQ      1      B      A       B       D       B       D
3    4  MCQ      1      B      B       C       A       A       C
4    5  MCQ      1      A      A       B       B       B     MTA
5    6  MCQ      1      B      B       D       C       A       C
6    7  MCQ      1      A      C       B       C       C       D
7    8  MCQ      1      C      D       A       B       B       D
8    9  MCQ      1      B      C       A       C       A       D
9   10  MCQ      1      A      C       D       B       C       B
10  11  MCQ      2      B      B       B       A       D       D
11  12  MCQ      2      D      D       A       C       C       A
12  13  MCQ      2      D      B       C       D       B       D
13  14  MCQ      2      A      C       D       B       B       A
14  15  MCQ      2      A      D       C       A       A       D
15  16  MCQ      2      C      A       A       D       C       A
16  17  MCQ      2      D      B       A       C       D       B
17  18  MCQ      2      C      D       D       A       A       B
18  19  MCQ      2      D      A       D       C       B       A
19  20  MCQ      2      D    MTA       C       B       C       B
20  21  MCQ      2      B      B       D       C       D       C
21  22  MCQ      2      B      C       B       A       A       A
22  23  MCQ      2      A      C       B       C       C       D
23  24  MCQ      2      B      C       D       B       B       B
24  25  MCQ      2      A      A       C       A       C       B
25  26  MCQ      2      C      A       A       C       B       C
26  27  MCQ      2      D      C       C       C       D       C
27  28  MCQ      2      A      D       C       D       C       A
28  29  MCQ      2      D      B       C       B       B       D
29  30  MCQ      2      D    MTA       B       C       A       C
30  31  MSQ      2  A,C,D    A,C     A,C       B     A, C  A,C,D
31  32  MSQ      2    A,D    A,D   A,B,D   A,B,C     B, C    A,D
32  33  MSQ      2    C,D    B,D     A,D     A,D     C, D  A,C,D
33  34  MSQ      2    A,B  B,C,D   A,B,D   B,C,D     A, D    B,D
34  35  MSQ      2  A,C,D    C,D     A,C   B,C,D     B, D    A,C
35  36  MSQ      2    A,C    A,B     A,C     A,B        A    A,D
36  37  MSQ      2    A,D    A,D     B,D     A,D  B, C, D    B,C
37  38  MSQ      2    B,C    B,C     B,C   A,B,C     B, C    A,D
38  39  MSQ      2  B,C,D  A,C,D   B,C,D   B,C,D     A, D    A,D
39  40  MSQ      2  A,B,C    B,D     C,D   A,B,C     A, B    C,D
40  41  NAT      1    1.0    0.5     1.9       4      99       1
41  42  NAT      1   6.28    1.0     5.9     6.5      60      32
42  43  NAT      1    3.0    2.0   -0.01       1       7       0
43  44  NAT      1   -1.0    8.0     9.9       1   75.35    0.08
44  45  NAT      1   2.34   1.49  1259.9       3       1    2.70
45  46  NAT      1   1.64     ‐1     1.9       9    0.25     0.1
46  47  NAT      1    1.0    6.0    0.49       2       8    0.25
47  48  NAT      1   -1.0    0.5     2.9       0     2.6       7
48  49  NAT      1    2.0   0.25    54.9       4    2.60    1011
49  50  NAT      1    3.0    6.0     7.9  -0.130    5.30       3
50  51  NAT      2    8.0    1.0     2.9     0.4    6.60    0.25
51  52  NAT      2   84.0   0.35     2.0    0.35    2.69      33
52  53  NAT      2   0.25    3.0     0.9    1140      31       2
53  54  NAT      2    2.0    0.8    29.9    5.99       5     0.5
54  55  NAT      2  0.125   72.0     0.9     2.9       4    0.65
55  56  NAT      2   1.41   ‐0.3     2.9    0.23       3       8
56  57  NAT      2    0.1    2.0     0.9       6      17       3
57  58  NAT      2   5.09    3.0     5.9     6.3       3    -216
58  59  NAT      2    3.0    1.0     0.9   -2.80       4       3
59  60  NAT      2    2.0    2.0    1.34     0.5    1.12       3

In [101]:
df.to_csv('iit_secret_data.csv', index=False)